extends layout

block append vars
  - bodyclass = 'article-detail'

block prepend title
  | #{ page.title + ' - '}

block nojumbotron

block content
  - var pics = page.metadata.pics.slice()
  - var pics = pics.reverse()
  include ./piccarousel.jade

block nocontact

block noabout

